.pages-get-started(v-if='props')
  CustomGetConsultation#complimentary(:content='props.consultation', :alt='true')
  CustomGetForms#forms(:content='props.forms')
  BlockTextImage#financing(:content='props.text_image')
