.pages-get-started(v-if='props')
  CustomGetConsultation#consultation(:content='props.consultation', :alt='true')
  pre#forms {{ props.forms }}
  BlockTextImage#financing(:content='props.text_image')
