.pages-treatments(v-if='props')
  BlockTextImage#invisalign(:content='props.text_image', :alt='true')
  BlockOverlap(:content='props.scroll_overlap', :alt='true')
  BlockOverlapTablet(:content='props.scroll_overlap', :alt='true')
  BlockOverlapMobile(:content='props.scroll_overlap')
  BlockTextImage#elatejunior(:content='props.elate_junior', :alt='true')
  BlockOverlapRetainer(:content='props.scroll_overall_retainer', :alt='true')
  BlockOverlapRetainerTablet(:content='props.scroll_overall_retainer', :alt='true')
  BlockOverlapRetainerMobile(:content='props.scroll_overall_retainer')
