.pages-promotion(v-if='props')
  CustomSpecialCta
  BlockTextImage(:content='props.text_image')
  // CustomHomeWelcome(:content='props.welcome')
  BlockTextImage(:content='props.text_image_3' :alt='true')
  BlockTextImage(:content='props.text_image_2')
  CustomSpecialPageSpanish
