.pages-about-us(v-if='props')
  BlockScroll#doctors(:content='props.scroll')
  BlockScrollTablet#doctors(:content='props.scroll')
  BlockScrollMobile#doctors(:content='props.scroll')
  CustomElateTeam#team(:content='props.team')
  CustomElateTeamTablet#team(:content='props.team')
  CustomElateTeamMobile#team(:content='props.team')
  CustomAboutTour#office(:content='props.tour')
  CustomAboutTour#officenew(:content='props.tour_hollyhock')