.hero(v-if='content && props', :class="{ 'hero--home': $route.path === '/', 'hero--test-home': $route.path === '/test-home', 'hero--access': $route.path === '/accessibility', 'hero--elate-aligner': $route.path === '/elate-aligner', 'hero--contact': $route.path.includes('/contact'), 'hero--privacy': $route.path === '/privacy-policy', 'hero--showing': showing, 'hero--active': active }")
  router-link.hero__logo(to='/' @click.native='setPageHome("/")')
    Icon.hero__logo-icon(name='elate-logo')

  .hero__background
    .hero__background-image(v-for='(image, i) in content.heroes', :key="'hero-' + i", :style="{ backgroundImage: 'url(' + image.image + ')' }", :class="{ 'hero__background-image--active': hoveredPage === image.path, 'hero__background-image--trans': !menuOpen, 'hero__background-image--right': $route.path.includes('/treatments') || $route.path.includes('/get-started') || $route.path.includes('/elate-library') || $route.path.includes('/privacy-policy') }")
    video.hero-home__video(muted='muted' loop='loop' autoplay='autoplay' playsinline='')
      source(v-if='content.hero_video.video_url' v-bind:src='content.hero_video.video_url')

  .hero__hamburger(:class="{ 'hero__hamburger--active': menuOpen, 'hero__hamburger--contact': $route.path.includes('/contact') }" @click='toggleMenu')
    span
    span

    //- img.home_button_image3(v-show='!$store.state.nav && $route.name !== "home"' :src='content.hero_video.dinocorn_three', alt='')
  .hero__hamburger.hero__hamburger--white(:class="{ 'hero__hamburger--active': menuOpen, 'hero__hamburger--contact': $route.path.includes('/contact') }" @click='toggleMenu')
    span
    span

  .hero__contact(:class="{ 'hero__contact--active': !menuOpen }")
    a.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :href='contact.href' v-if='i !== 1')
      Icon.hero__contact-icon(:name='contact.icon')
    router-link.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :to='contact.href' v-if='i === 1')
      Icon.hero__contact-icon(:name='contact.icon')

  .hero__links(:class="{ 'hero__links--active': menuOpen }")
    router-link.hero__link(v-for='(link, i) in links', :key="'link-' + i", :to='link.path', :class="{ 'hero__link--active': link.path === hoveredPage }" v-html='link.name' v-if='link.navigation' @click.native='setPage(link.path)' @mouseover.native='setHovered(link.path)')
    .hero__links-contact
      a.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :href='contact.href')
        Icon.hero__contact-icon(:name='contact.icon')

  .hero__home(:class="{ 'hero__test-home--active': $route.path.includes('/test-home') && !menuOpen, 'hero__home--active': $route.path === '/' && !menuOpen }")
    h1.hero__home-title(v-html='content.home.title')
    router-link.hero__home-button(:to='content.home.button.to')
      .hero__home-button-overlay
      .hero__home-button-label(v-html='content.home.button.label')

    //- img.home_button_image(v-show='!$store.state.nav && $route.name !== "home"' :src='content.home.dinocorn_one', alt='')


  .hero__drawer(v-if='drawer.navigation' v-for='(drawer, i) in links', :key="'drawer-' + i", :class="{ 'hero__drawer--active': currentPage === drawer.path && !menuOpen }")
    h1.hero__drawer-title(v-html='drawer.name' v-if='!$route.path.includes("/contact")')
    router-link.hero__drawer-link(v-for='(child, j) in drawer.children', :key="'child-' + j" v-html='child.name', :to='child.path' @mouseover.native='setSection(j)', :class="{ 'hero__drawer-link--active': hoveredSection === j, 'hero__drawer-link--trans': delaySection !== null }" v-if='!$route.path.includes("/contact")')
    CustomContactPage(:content='props.page' v-if='$route.path.includes("/contact")')

  .hero__locations(v-if='menuOpen === false')
    .hero__locations-container
      h3.hero__locations-title(v-html='locations.title')
      Icon.hero__locations-icon(name='Contact_Phone')
      a.hero__locations-phone-number(:href='locations.phone.href', v-html='locations.phone.label')
      Icon.hero__locations-icon(name='location-dot-solid')
      a.hero__locations-address(:href='locations.address.href', v-html='locations.address.label')
    .hero__locations-container
      h3.hero__locations-title(v-html='locations.title2')
      Icon.hero__locations-icon(name='Contact_Phone')
      a.hero__locations-phone-number(:href='locations.phone2.href', v-html='locations.phone2.label')
      Icon.hero__locations-icon(name='location-dot-solid')
      a.hero__locations-address(:href='locations.address2.href', v-html='locations.address2.label')
    .hero__locations-container
      h3.hero__locations-title(v-html='locations.title3')
      Icon.hero__locations-icon(name='Contact_Phone')
      a.hero__locations-phone-number(:href='locations.phone3.href', v-html='locations.phone3.label')
      Icon.hero__locations-icon(name='location-dot-solid')
      a.hero__locations-address(:href='locations.address3.href', v-html='locations.address3.label')

  .hero__tagline(v-for='(tagline, i) in content.heroes', :key="'tagline-' + i", :class="{ 'hero__tagline--active': hoveredPage === tagline.path }")
    .hero__tagline-textbox
      .hero__tagline-text(v-html='tagline.tagline')
      .hero__tagline-line

  .hero__mobile(:class="{ 'hero__mobile--contact': $route.path.includes('/contact'), 'hero__mobile--home': $route.path === '/' }")
    a.hero__mobile-link.hero__mobile-link-1(v-for='(contact, i) in content.social_bar', :key="'mobile-' + i", :href='contact.href' v-if='i !== 1')
      Icon.hero__mobile-icon(:name='contact.icon')
    router-link.hero__mobile-link.hero__mobile-link-2(v-for='(contact, i) in content.social_bar', :key="'mobile-' + i", :to='contact.href' v-if='i === 1')
      Icon.hero__mobile-icon(:name='contact.icon')

    .hero__mobile-home
      router-link.hero__mobile-button(:to='content.home.button.to')
        .hero__mobile-button-overlay
        .hero__mobile-button-label(v-html='content.home.button.label')
      .hero__mobile-welcome(v-html='content.mobile.home_text')

    CustomContactPage(:content='props.page' v-if='$route.path.includes("/contact")')

    .hero__mobile-pages(v-if='page.navigation' v-for='(page, i) in links', :key="'page-' + i", :class="{ 'hero__mobile-pages--active': currentPage === page.path }")
      h2.hero__mobile-title(v-html='page.name')
      h2.hero__mobile-sublinks(v-for='(sublink, j) in page.children', :key="'sublink-' + j" v-html='sublink.name', @click='scrollTo(sublink.hash)')


  .hero__mobile-drawer(:class="{ 'hero__mobile-drawer--active': menuOpen }")
    .hero__mobile-background(v-for='(image, i) in content.heroes', :key="'hero-' + i", :style="{ backgroundImage: 'url(' + image.image + ')' }", :class="{ 'hero__mobile-background--active': image.path === '/treatments' }")
    .hero__mobile-overlay
    .hero__mobile-links
      router-link.hero__link(v-for='(link, i) in links', :key="'link-' + i", :to='link.path', :class="{ 'hero__link--active': link.path === hoveredPage }" v-html='link.name' v-if='link.navigation' @click.native='setPage(link.path)' @mouseover.native='setHovered(link.path)')
