.hero(v-if='content && props', :class="{ 'hero--home': $route.path === '/', 'hero--showing': showing, 'hero--active': active }")
  router-link.hero__logo(to='/' @click.native='setPageHome("/")')
    Icon.hero__logo-icon(name='elate-logo')
      
  .hero__background
    .hero__background-image(v-for='(image, i) in content.heroes', :key="'hero-' + i", :style="{ backgroundImage: 'url(' + image.image + ')' }", :class="{ 'hero__background-image--active': hoveredPage === image.path, 'hero__background-image--trans': !menuOpen, 'hero__background-image--right': $route.path.includes('/treatments') || $route.path.includes('/get-started') }")
      
  .hero__hamburger(:class="{ 'hero__hamburger--active': menuOpen, 'hero__hamburger--contact': $route.path.includes('/contact') }" @click='toggleMenu')
    span
    span
  .hero__hamburger.hero__hamburger--white(:class="{ 'hero__hamburger--active': menuOpen, 'hero__hamburger--contact': $route.path.includes('/contact') }" @click='toggleMenu')
    span
    span
  
  .hero__contact(:class="{ 'hero__contact--active': !menuOpen }")
    a.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :href='contact.href' v-if='i !== 1')
      Icon.hero__contact-icon(:name='contact.icon')
    router-link.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :to='contact.href' v-if='i === 1')
      Icon.hero__contact-icon(:name='contact.icon')
      
  .hero__links(:class="{ 'hero__links--active': menuOpen }")
    router-link.hero__link(v-for='(link, i) in links', :key="'link-' + i", :to='link.path', :class="{ 'hero__link--active': link.path === hoveredPage }" v-html='link.name' v-if='link.navigation' @click.native='setPage(link.path)' @mouseover.native='setHovered(link.path)')
    .hero__links-contact
      a.hero__contact-link(v-for='(contact, i) in content.social_bar', :key="'contact-' + i", :href='contact.href')
        Icon.hero__contact-icon(:name='contact.icon')
      
  .hero__home(:class="{ 'hero__home--active': $route.path === '/' && !menuOpen }")
    h1.hero__home-title(v-html='content.home.title')
    router-link.hero__home-button(:to='content.home.button.to')
      .hero__home-button-overlay
      .hero__home-button-label(v-html='content.home.button.label')
  
  .hero__drawer(v-if='drawer.navigation' v-for='(drawer, i) in links', :key="'drawer-' + i", :class="{ 'hero__drawer--active': currentPage === drawer.path && !menuOpen }")
    h1.hero__drawer-title(v-html='drawer.name' v-if='!$route.path.includes("/contact")')
    router-link.hero__drawer-link(v-for='(child, j) in drawer.children', :key="'child-' + j" v-html='child.name', :to='child.path' @mouseover.native='setSection(j)', :class="{ 'hero__drawer-link--active': hoveredSection === j, 'hero__drawer-link--trans': delaySection !== null }" v-if='!$route.path.includes("/contact")')
    CustomContactPage(:content='props.page' v-if='$route.path.includes("/contact")')
  
  .hero__tagline(v-for='(tagline, i) in content.heroes', :key="'tagline-' + i", :class="{ 'hero__tagline--active': hoveredPage === tagline.path }")
    .hero__tagline-textbox
      .hero__tagline-text(v-html='tagline.tagline')
      .hero__tagline-line
  
  .hero__mobile(:class="{ 'hero__mobile--contact': $route.path.includes('/contact') }")
    a.hero__mobile-link.hero__mobile-link-1(v-for='(contact, i) in content.social_bar', :key="'mobile-' + i", :href='contact.href' v-if='i !== 1')
      Icon.hero__mobile-icon(:name='contact.icon')
    router-link.hero__mobile-link.hero__mobile-link-2(v-for='(contact, i) in content.social_bar', :key="'mobile-' + i", :to='contact.href' v-if='i === 1')
      Icon.hero__mobile-icon(:name='contact.icon')
        
    .hero__mobile-home
      router-link.hero__mobile-button(:to='content.home.button.to')
        .hero__mobile-button-overlay
        .hero__mobile-button-label(v-html='content.home.button.label')
      .hero__mobile-welcome(v-html='content.mobile.home_text')
        
    .hero__mobile-pages(v-if='page.navigation' v-for='(page, i) in links', :key="'page-' + i", :class="{ 'hero__mobile-pages--active': currentPage === page.path }")
      h2.hero__mobile-title(v-html='page.name')
      h2.hero__mobile-sublinks(v-for='(sublink, j) in page.children', :key="'sublink-' + j" v-html='sublink.name', @click='scrollTo(sublink.hash)')
      
  
  .hero__mobile-drawer(:class="{ 'hero__mobile-drawer--active': menuOpen }")
    .hero__mobile-background(v-for='(image, i) in content.heroes', :key="'hero-' + i", :style="{ backgroundImage: 'url(' + image.image + ')' }", :class="{ 'hero__mobile-background--active': image.path === '/treatments' }")
    .hero__mobile-overlay
    .hero__mobile-links
      router-link.hero__link(v-for='(link, i) in links', :key="'link-' + i", :to='link.path', :class="{ 'hero__link--active': link.path === hoveredPage }" v-html='link.name' v-if='link.navigation' @click.native='setPage(link.path)' @mouseover.native='setHovered(link.path)')
