.block-doctors(:class="{ 'block-doctors--active': showing }" ref='component')
  .block-doctors__waypoint.block-doctors__waypoint--in(v-waypoint="{ active: true, callback: onWaypointIn, options: intersectionOptions }")
  .block-doctors__waypoint(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }")
  .block-doctors__anchor(v-for='(item, i) in content', :key='"anchor - " + i', :id='cleanStr(item.title)', :style="{ top: 'calc(1vh + ' + i * 100 + 'vh)' }")
  .block-doctors__content
    .block-doctors__container(v-for='(section, i) in content', :key="'section-' + (i + 1)")
      .block-doctors__col-1(:class="[ { 'block-doctors__col-1--active': active === i }, 'block-doctors__col-1--' + i ]")
        h3.block-doctors__title(:class="{ 'block-doctors__title--active': fixed }")
          .block-doctors__title-text(v-html='section.title', :style="{ transitionDelay: i * .15 + 's' }" v-scroll-to='{ el: "#" + cleanStr(section.title), easing: "linear" }')
          .block-doctors__title-line(:style="{ transition: 'translateY(' + active * 2 + 'rem)' }")
        .block-doctors__body(v-html='section.body')
        .block-doctors__read-more(@click='openBio(section)', v-if='$route.path === "/about-us"') Read More
        router-link.block-doctors__button(:to='section.button.href' v-if='section.button.href')
          .block-doctors__button-click(v-html='section.button.label')
      .block-doctors__col-2
        .block-doctors__image(:style="{ backgroundImage: 'url(' + section.image + ')' }", :class="{ 'block-doctors__image--active': active === i }" role='img', aria-label='Doctors and their Children')
        
  transition(name='fade-in-modal')  
    ModalBio(v-if='bio', @closeBioModal='openBio()', :props='bio')
