#block-overlap-tablet.block-overlap-tablet(:class="{ 'block-overlap-tablet--alt': alt, 'block-overlap-tablet--active': showing, 'block-overlap-tablet--transformed': transformed }" ref='component')
  .block-overlap-tablet__waypoint.block-overlap-tablet__waypoint--in(v-waypoint="{ active: true, callback: onWaypointIn, options: intersectionOptions }")
  .block-overlap-tablet__anchor(v-for='(item, i) in content.scroll', :key='"anchor - " + i', :id='cleanStr(item.title)')
  .block-overlap-tablet__scroll(:class="{ 'block-overlap-tablet__scroll--fixed': showing }")
    h2.block-overlap-tablet__section-title(v-html='content.title')
    .block-overlap-tablet__content(v-for='(section, i) in content.scroll', :key="'section-' + (i + 1)", :class="{ 'block-overlap-tablet__content--active': active === i }")
      .block-overlap-tablet__image(:style="{ backgroundImage: 'url(' + section.image + ')' }", :class="{ 'block-overlap-tablet__image--active': active === i, 'block-overlap-tablet__image--alt': alt }" role='img', :aria-label='"treatment image " + (i + 1)')
      .block-overlap-tablet__container
        .block-overlap-tablet__col-1(:class="{ 'block-overlap-tablet__col-1--active': active === i }", :style="{ top: 2 * (i + 1) + 'rem' }")
          h3.block-overlap-tablet__title(:class="{ 'block-overlap-tablet__title--active': showing }")
            .block-overlap-tablet__title-text(v-html='section.title', :style="{ transition: 'opacity .45s ' + (.75 + (.15 * i)) + 's ease-in'  }" @click='setActive(i)')
            .block-overlap-tablet__title-line(:style="{ transition: transformed ? 'transform .35s .35s ease-in' : 'transform .45s ' + (.75 + (.15 * content.scroll.length)) + 's ease-in' }")
          .block-overlap-tablet__body(v-html='section.body', :style="{ transitionDelay: transformed ? 'inherit' : .75 + (.15 * content.scroll.length) + 's' }")
          router-link.block-overlap-tablet__button(:to='section.button.href' v-if='section.button.href', :style="{ transitionDelay: transformed ? 'inherit' : .75 + (.15 * content.scroll.length) + 's' }")
            .block-overlap-tablet__button-click(v-html='section.button.label')
