.block-scroll-overlap(:class="{ 'block-scroll-overlap--alt': alt, 'block-scroll-overlap--active': showing, 'block-scroll-overlap--transformed': transformed }", :style="{ height: content.scroll.length * 100 + 'vh' }" ref='component')
  .block-scroll-overlap__waypoint.block-scroll-overlap__waypoint--in(v-waypoint="{ active: true, callback: onWaypointIn, options: intersectionOptions }")
  .block-scroll-overlap__waypoint(v-for='(waypoint, i) in content.scroll.length - 1', :key='"waypoint-" + i' v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }", :style="{ top: 150 + (75 * i) +'vh' }")
  .block-scroll-overlap__anchor(v-for='(item, i) in content.scroll', :key='"anchor - " + i', :id='cleanStr(item.title)', :style="{ top: 'calc(1vh + ' + i * 100 + 'vh)' }")
  .block-scroll-overlap__scroll(:class="{ 'block-scroll-overlap__scroll--fixed': fixed}", :style='{ transform: positionBottom ? "translate3d(-50%, calc(" + 100 * (content.scroll.length - 1) + "% - 50vh), 0)" : "translate3d(-50%, -50%, 0)" }')
    h2.block-scroll-overlap__section-title(v-html='content.title')
    .block-scroll-overlap__content(v-for='(section, i) in content.scroll', :key="'section-' + (i + 1)", :class="{ 'block-scroll-overlap__content--active': active === i }")
      .block-scroll-overlap__image(:style="{ backgroundImage: 'url(' + section.image + ')' }", :class="{ 'block-scroll-overlap__image--active': active === i }" role='img', :aria-label='"treatment image " + (i + 1)')
      .block-scroll-overlap__container
        .block-scroll-overlap__col-1(:class="{ 'block-scroll-overlap__col-1--active': active === i }", :style="{ top: 2 * (i + 1) + 'rem' }")
          h3.block-scroll-overlap__title(:class="{ 'block-scroll-overlap__title--active': fixed }")
            .block-scroll-overlap__title-text(v-html='section.title', :style="{ transition: 'opacity .45s ' + (.75 + (.15 * i)) + 's ease-in'  }" @click='moveTo(section.title)')
            .block-scroll-overlap__title-line(:style="{ transition: transformed ? 'transform .35s .35s ease-in' : 'transform .45s ' + (.75 + (.15 * content.scroll.length)) + 's ease-in' }")
          .block-scroll-overlap__body(v-html='section.body', :style="{ transitionDelay: transformed ? 'inherit' : .75 + (.15 * content.scroll.length) + 's' }")
          router-link.block-scroll-overlap__button(:to='section.button.href' v-if='section.button.href', :style="{ transitionDelay: transformed ? 'inherit' : .75 + (.15 * content.scroll.length) + 's' }")
            .block-scroll-overlap__button-click(v-html='section.button.label')
