.block-text-image(:class="{ 'block-text-image--alt': alt, 'block-text-image--active': active }" ref='component')
  .block-text-image__waypoint(v-waypoint='{ active: true, callback: onWaypoint, options: intersectionOptions }' v-if='loaded')
  .block-text-image__container
    .block-text-image__col.block-text-image__col-1
      .block-text-image__image
        .block-text-image__image-container
          .block-text-image__image-image(:style="{ backgroundImage: 'url(' + content.image + ')', transform: 'scale(' + this.percentage + ')' }")
    .block-text-image__col.block-text-image__col-2
      h2.block-text-image__title(v-html='content.title')
      .block-text-image__body(v-html='content.body')
