.block-text-image
  @include phone-lg
    padding: 2rem 0
  position: relative
  padding: 8rem 0 10rem

  &__waypoint
    position: absolute
    top: 25%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 1px

  &__container
    @extend .container
    align-items: center

    .block-text-image--alt &
      flex-direction: row-reverse
      justify-content: flex-end

  &__col
    @extend .col-5
    @extend .col-1--offset
    position: relative


    &-1
      min-height: 20rem
      .block-text-image--alt &
        margin-left: 0

    &-2
      @include phone-lg
        min-height: 30rem
      min-height: 22.5rem
      overflow: hidden

  &__image
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: opacity .45s ease-in
    opacity: 0
    z-index: 1
    width: calc(100% - #{$gutter})
    height: 100%

    .block-text-image--alt &
      transition-delay: .6s

    .block-text-image--active &
      opacity: 1

    &-container
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: hidden

    &-image
      position: absolute
      top: 0
      left: 0
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      width: 100%
      height: 100%

    &-background
      @include max-container
        display: none
      position: absolute
      top: 55%
      left: -20%
      z-index: -1
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      width: 55%
      height: 70%

      .block-text-image--alt &
        right: -10%
        left: auto


  &__title
    transform: translateX(2rem)
    transition: transform .35s ease-in, opacity .35s ease-in
    opacity: 0
    padding: 2rem 0
    text-transform: uppercase
    color: $cobalt-blue
    transition-delay: .45s

    .block-text-image--alt &
      transition-delay: 0s

    .block-text-image--active &
      transform: none
      opacity: 1

  &__body
    @include phone-lg
      top: 8rem
      max-width: none
    position: absolute
    top: 7rem
    transform: translateY(1rem)
    transition: transform .55s ease-in, opacity .55s ease-in, line-height .55s ease-in
    opacity: 0
    padding-bottom: 2rem
    max-width: 85%
    line-height: 2
    color: $warm-grey
    transition-delay: .75s

    .block-text-image--alt &
      transition-delay: .25s

    .block-text-image--active &
      transform: none
      opacity: 1
      line-height: inherit
