.block-text-image
  .block-text-image__waypoint(v-waypoint='{ active: true, callback: onWaypoint, options: intersectionOptions }')
  .block-text-image__container
    .block-text-image__col
      .block-text-image__image
        .block-text-image__image-container
          .block-text-image__image-image(:style="{ backgroundImage: 'url(' + content.image + ')', transform: 'scale(' + this.percentage + ')' }")
        .block-text-image__image-background(v-parallax='-.01', :style="{ backgroundImage: 'url(' + content.image_background + ')' }")
    .block-text-image__col
      h2.block-text-image__title(v-html='content.title')
      .block-text-image__body(v-html='content.body')
