// -----------------------
// color defaults
// -----------------------
$gray: #ccc
$danger: tomato
$spinner: #0092ff
$spinner-bg: #fff
$white: #f9f9f9
$white-two: rgb(216, 216, 216)
$black: rgb(15, 15, 15)

$black-hover: lighten($black, 50%)

// -----------------------
// project colors
// -----------------------

$burnt-sienna: #b25e15
$white: #ffffff
$white-75: rgba(255, 255, 255, .75)
$white-90: rgba(255, 255, 255, .9)
$orange-yellow: #ffa500
$light-grey: #eaeaea
$black-52: rgba(31, 31, 31, 0.52)
$brown-grey: #979797
$brownish-grey: #676767
$brownish-grey-two: #818181
$brownish-grey-78: rgba(96, 94, 94, 0.78)
$greyish-brown: #535353
$very-light-pink-90: rgba(216, 216, 216, 0.9)

// -----------------------
// box shadows
// -----------------------

$shadow: rgba(0, 0, 0, .75)

$bs1: rgba(0, 0, 0, 0.25)
$bs2: rgba(0, 0, 0, 0.17)

// -----------------------
// overlays
// -----------------------

$ol1: rgba(57, 57, 57, 0.6)
