.block-scroll-mobile(:class="{ 'block-scroll-mobile--active': showing, 'block-scroll-mobile--transformed': transformed }" ref='component')
  .block-scroll-mobile__waypoint.block-scroll-mobile__waypoint--in(v-waypoint="{ active: true, callback: onWaypointIn, options: intersectionOptions }")
  .block-scroll-mobile__anchor(v-for='(item, i) in content', :key='"anchor - " + i', :id='cleanStr(item.title)')
  .block-scroll-mobile__container
    .block-scroll-mobile__tabs
      .block-scroll-mobile__tab(v-for='(tab, i) in content', :key="'tab-' + (i + 1)", :class="{ 'block-scroll-mobile__content--active': active === i }" @click='setActive(i)' v-html='tab.title')
    .block-scroll-mobile__content(v-for='(tile, i) in content', :key="'tile-' + (i + 1)", :class="{ 'block-scroll-mobile__content--active': active === i }")
      .block-scroll-mobile__tile(:class="{ 'block-scroll-mobile__tile--active': active === i }")
        .block-scroll-mobile__body(v-html='tile.body')
        router-link.block-scroll-mobile__button(:to='tile.button.href' v-if='tile.button.href')
          .block-scroll-mobile__button-click(v-html='tile.button.label')
      .block-scroll-mobile__col-2
        .block-scroll-mobile__image(:style="{ backgroundImage: 'url(' + tile.image + ')' }", :class="{ 'block-scroll-mobile__image--active': active === i }" role='img', aria-label='Doctors and their Children')
