.pages-home(v-if='props')
  CustomHomeWelcome(:content='props.welcome')
  //- BlockScroll(:content='props.scroll')
  BlockDoctors(:content='props.scroll')
  //- BlockScrollTablet(:content='props.scroll')
  //- BlockScrollMobile(:content='props.scroll')
  BlockOverlap(:content='props.scroll_overlap')
  BlockOverlapTablet(:content='props.scroll_overlap')
  //- CustomHomeTreatmentIcons(:content='props.custom_home_treatment_icons')
  BlockTextImage(:content='props.text_image')
  //- CustomHomeTreatments(:content='props.scroll_overlap')
  CustomHomeTestimonials(:content='props.testimonials')
