.pages-home(v-if='props')
  CustomHomeWelcome(:content='props.welcome')
  BlockScroll(:content='props.scroll')
  BlockScrollTablet(:content='props.scroll')
  BlockScrollMobile(:content='props.scroll')
  BlockTextImage(:content='props.text_image')
  BlockOverlap(:content='props.scroll_overlap')
  BlockOverlapTablet(:content='props.scroll_overlap')
  BlockOverlapMobile(:content='props.scroll_overlap')
  CustomHomeTestimonials(:content='props.testimonials')
