.pages-home(v-if='props')
  CustomHomeWelcome(:content='props.welcome')
  iframe(src="https://appointments.greyfinch.com/?division=595555" style="height: 700px; width:90vw; border: 0;display: block;margin: auto;" allow="geolocation")
  BlockDoctors(:content='props.scroll')
  CustomHomeTreatmentIcons(:content='props.custom_home_treatment_icons')
  CustomHomeSmileAssessment(:content='props.smile_simulation')
  BlockTextImage(:content='props.text_image')
  CustomHomeTestimonials(:content='props.testimonials')