.custom-special-cta
  .custom-special-cta__container
    .custom-special-cta__logo
      router-link(to='/')
        Icon.hero__logo-icon(name='elate-logo')
    .custom-special-cta__number
      a(:href='content.phone_link' v-html='content.phone_text')
    .custom-special-cta__cta
      router-link.custom-special-cta__consultation-link(class="hero__home-button" to='/contact' v-html='content.button_text')