.custom-special-cta
  .custom-special-cta__container
    .custom-special-cta__logo
      router-link(to='/')
        Icon.hero__logo-icon(name='elate-logo')
    .custom-special-cta__number
      a(href='tel:+19725384343') Call 972.538.4343
    .custom-special-cta__cta
      router-link(style="display: table; margin: auto; text-align: center" class="hero__home-button" to='/contact') Schedule a free consultation
