.custom-free-consultant
  .custom-free-consultant__container
    .custom-free-consultant__col
      .custom-free-consultant__content.custom-free-consultant__text-center
        a.custom-free-consultant__btn(v-html='content.titles' :href='content.hrefs')