.custom-contact-page
  position: absolute
  top: 0
  left: 0
  transition: transform .5s ease-in
  z-index: 9999
  background-color: $black
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  width: 100%
  height: 100vh

  &__overlay
    position: absolute
    top: 0
    left: 0
    z-index: -1
    background: $black-34
    width: 100%
    height: 100%

  &__title-box
    @extend .flex-center
    transition: opacity .45s ease-in
    opacity: 0
    padding: 2rem 0
    text-transform: uppercase

    .custom-contact-page--active &
      opacity: 1

  &__title
    transition: color .25s ease-in
    cursor: pointer
    padding-left: 1rem
    color: $white-42

    &:hover
      color: $white

    &--active
      color: $white

    &:after
      padding-left: 1rem
      color: $white
      content: '|'

    &:first-child
      padding-left: 0

    &:last-child
      &:after
        padding-left: 0
        content: ''

  &__container
    transition: opacity .45s ease-in
    opacity: 0
    margin: auto
    background: $black-34
    width: calc(100% - 8rem)
    color: $white
    transition-delay: .25s

    .custom-contact-page--active &
      opacity: 1

  &__content
    margin: auto
    padding: 2rem 0
    width: 30rem

  &__form
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    transition: opacity .25s ease-in
    opacity: 0
    width: 100%
    pointer-events: none

    &-container
      position: relative
      width: 100%
      height: 25rem

    &--active
      opacity: 1
      pointer-events: all
      transition-delay: .25s


  &__address,
  &__hours
    display: inline-block
    width: 50%
    vertical-align: top

  &__address
    &-body
      padding: .5rem 0

    &-button
      &:hover
        color: $white-42

  &__contacts
    padding-top: .5rem

  &__contact
    @extend .flex-center-start
    padding: 1rem 0 .5rem

    &:hover
      color: $white-42
      .icon-fill
        fill: $white-42

    &:last-child
      padding-top: 0

    &-icon
      @include svg-size(1.5rem, 1.5rem)

    &-label
      padding-left: .5rem
