.custom-contact-page(:style="{ backgroundImage: 'url(' + content.background + ')' }", :class="{ 'custom-contact-page--active': showing }" v-if='content')
  .custom-contact-page__overlay
  .custom-contact-page__title-box
    h2.custom-contact-page__title(v-for='(form, i) in content.forms' v-html='form.title', :class="{ 'custom-contact-page__title--active': active === i }" @click='setActive(i)')
  .custom-contact-page__container
    .custom-contact-page__content
      .custom-contact-page__form-container
        MainForm.custom-contact-page__form(:class="{ 'custom-contact-page__form--active': active === 0 }")
        ReferralForm.custom-contact-page__form(:class="{ 'custom-contact-page__form--active': active === 1 }")
      .custom-contact-page__address
        .custom-contact-page__address-title(v-html='content.address.title')
        .custom-contact-page__address-body(v-html='content.address.body')
        a.custom-contact-page__address-button(:href='content.address.href', v-html='content.address.label')
      .custom-contact-page__address
        .custom-contact-page__address-title(v-html='content.address2.title')
        .custom-contact-page__address-body(v-html='content.address2.body')
        a.custom-contact-page__address-button(:href='content.address2.href', v-html='content.address2.label')        
      .custom-contact-page__hours
        .custom-contact-page__hoursinner(v-html='content.hours')
        .custom-contact-page__contacts
          a.custom-contact-page__contact(v-for='(link, i) in content.contacts', :key='"link - " + i', :href='link.href')
            Icon.custom-contact-page__contact-icon(:name='link.icon')
            .custom-contact-page__contact-label(v-html='link.label')
      .custom-contact-page__address
        .custom-contact-page__address-title(v-html='content.address_3.title')
        .custom-contact-page__address-body(v-html='content.address_3.body')
        a.custom-contact-page__address-button(:href='content.address_3.href', v-html='content.address_3.label')    
