.custom-home-testimonials(:class="{ 'custom-home-testimonials--showing': showing }")
  .custom-home-testimonials__waypoint(v-waypoint='{ active: true, callback: onWaypoint, options: intersectionOptions }')
  .custom-home-testimonials__slider
    .custom-home-testimonials__button(@click='this.setSlide') Next >
    .custom-home-testimonials__slide(v-for='(image, i) in content', :key="'image - ' + (i + 1)", :class="{ 'custom-home-testimonials__slide--active': activeSlide === i }" role='img', :aria-label="'testimonial slide for ' + image.name", :style="{ backgroundImage: 'url(' + image.image + ')' }")
  .custom-home-testimonials__text-box
    .custom-home-testimonials__content(v-for='(textbox, i) in content', :key="'textbox - ' + (i + 1)", :class="{ 'custom-home-testimonials__content--active': activeSlide === i }")
      Icon.custom-home-testimonials__quote-left(name='quoteLft')
      .custom-home-testimonials__body(v-html='textbox.body')
      .custom-home-testimonials__body.custom-home-testimonials__body--mobile(v-html='truncText(textbox.body)')
      .custom-home-testimonials__modal-button(@click='toggleModal') Read More
      .custom-home-testimonials__name(v-html='textbox.name')
      Icon.custom-home-testimonials__quote-right(name='quoteRt')
  
  .custom-home-testimonials__modal(:class="{ 'custom-home-testimonials__modal--active': modalShowing }")
    .custom-home-testimonials__modal-overlay(@click='toggleModal')
    .custom-home-testimonials__modal-close(@click='toggleModal') Close
    .custom-home-testimonials__modal-content(v-for='(textbox, i) in content', :key="'textbox - ' + (i + 1)", :class="{ 'custom-home-testimonials__modal-content--active': activeSlide === i }")
      .custom-home-testimonials__body.custom-home-testimonials__body--mobile(v-html='textbox.body')
      .custom-home-testimonials__name.custom-home-testimonials__name--mobile(v-html='textbox.name')
