.footer
  position: relative
  padding: 2.5rem 2rem 0
  overflow: hidden

  &__contact
    padding: 3rem 0
    color: $warm-grey

    &-title
      color: $cobalt-blue

    &-address
      display: block
      padding: .5rem 0

    &-phone,
    &-address
      transition: color .15s ease-in
      &:hover
        color: $cobalt-blue

    &-rg
      position: absolute
      bottom: 1rem
      left: 2rem
      transition: color .15s ease-in
      font-size: 11px

      &:hover
        color: $cobalt-blue

  &__social
    position: absolute
    top: 95%
    right: 50%
    transform: translateY(-50%) translateX(50%)
    border-radius: 50%
    background: radial-gradient(circle at 50% 50%, #073088, #031a61)
    width: 15rem
    height: 15rem

    &-container
      @extend .flex-center
      position: absolute
      top: 35%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: 100%

    &-items
      padding: 0 .5rem

    &-icon
      @include svg-size(2rem, 2rem)
      .icon-fill
        transition: fill .15s ease-in
        fill: $white-two

      &:hover
        .icon-fill
          fill: $white
