.footer
  @include phone-lg
    flex-direction: column-reverse
  display: flex
  position: relative
  padding: 5rem 2rem 5rem
  overflow: hidden

  &__map
    @include phone-lg
      width: 100%
      padding-bottom: .5rem
      padding-top: .5rem
    float: left
    width: 100%
    padding: 0 0 1rem

    iframe
      width: 100%
      height: 330px
  
  &__contact-container
    @include tablet
      flex-direction: column
    @include phone-lg
      padding-bottom: 12rem
      flex-direction: column
    padding: 0
    width: 100%
    max-width: 1170px
    display: flex
    justify-content: space-between
    gap: 20px
    align-content: center
    margin: 0 auto
    flex-wrap: wrap

  &__contact
    @include tablet
      display: flex
      flex-direction: column
      max-width: 100%
    @include phone-lg
      width: 100%
      padding-top: 3rem
      padding-bottom: .5rem
      text-align: center
      max-width: 100%
    float: left
    width: 100%
    padding: 0 0 3rem
    color: $warm-grey
    max-width: 49%

    &-title
      color: $cobalt-blue

    &-address
      display: block
      padding: .5rem 0

    &-phone,
    &-address
      transition: color .15s ease-in
      &:hover
        color: $cobalt-blue

    &-rg
      @include phone-lg
        bottom: 11.5rem
        left: 0
        width: 100%
        text-align: center
      position: absolute
      bottom: 1rem
      left: 2rem
      transition: color .15s ease-in

      a
        font-size: 11px

        &:hover
          color: $cobalt-blue

  &__social
    @include tablet
      width: 12.5rem
      height: 12.5rem
      right: 40%
    position: absolute
    top: 95%
    right: 50%
    transform: translateY(-50%) translateX(50%)
    border-radius: 50%
    background: radial-gradient(circle at 50% 50%, #073088, #031a61)
    width: 15rem
    height: 15rem

    &-container
      @extend .flex-center
      position: absolute
      top: 35%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: 100%

    &-items
      padding: 0 .5rem

    &-icon
      @include svg-size(2rem, 2rem)
      .icon-fill
        transition: fill .15s ease-in
        fill: $white-two

      &:hover
        .icon-fill
          fill: $white
