.footer(v-if='content')
  .footer__contact
    .footer__contact-title(v-html='content.title')
    a.footer__contact-address(:href='content.address.href', v-html='content.address.label')
    br
    a.footer__contact-phone(:href='content.phone.href', v-html='content.phone.label')
    a.footer__contact-rg(href='https://roostergrin.com') 2018 © Online Advantage By Rooster Grin Media
  .footer__social
    .footer__social-container
      a.footer__social-items(v-for='(link, i) in content.social_bar', :key="'link - ' + i", :href='link.href')
        Icon.footer__social-icon(:name='link.icon')
