.block-scroll
  position: relative

  &__waypoint
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 50vh

    &--in
      top: 10%
      bottom: auto
      height: 1px

  &__scroll
    position: relative
    height: 40rem

  &__content
    position: absolute
    top: 0
    left: 0
    padding: 4rem 0
    width: 100%
    height: 100%
    pointer-events: none

    &--active
      pointer-events: all

  &__container
    @extend .container
    height: calc(100vh - 8rem)

  &__col
    position: relative

    &-1
      @extend .col-2--offset
      @extend .col-5
      position: relative
      color: $warm-grey

    &-2
      @extend .col-5
      position: relative

  &__image
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-40%, -50%)
    transition: transform .5s .5s ease-in, opacity .5s .5s ease-in
    opacity: 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: calc(100% - #{$gutter})
    height: 100%

    &--active
      .block-scroll--active &
        transition: opacity .5s ease-in
        opacity: 1

    .block-scroll--active &
      transform: translate(-50%, -50%)

  &__title
    position: absolute
    top: 2rem
    right: calc(#{$gutter} / 2)
    transition: color .25s ease-in
    z-index: 99
    text-align: right

    .block-scroll__col-1--1 &
      top: 4rem

    .block-scroll__col-1--active &
      color: $cobalt-blue

    &-text
      transition: opacity .35s ease-in
      opacity: 0

      .block-scroll--active &
        opacity: 1

    &-line
      position: absolute
      top: 50%
      right: calc(100% + 1rem)
      transform: translateX(-100%)
      transition: transform .4s ease-in
      background: $warm-grey
      width: 50vw
      height: 1px
      transition-delay: .75s

      .block-scroll--transformed &
        transition-delay: 0s

      .block-scroll__col-1--active &
        .block-scroll--active &
          transition:
          transform: translateX(0)

        .block-scroll--transformed &
          transition-delay: .35s

  &__body,
  &__button
    transition: opacity .4s .75s ease-in
    opacity: 0

    .block-scroll--transformed &
      transition-delay: .25s

    .block-scroll__col-1--active &
      .block-scroll--active &
        opacity: 1


  &__body
    padding-top: 10rem
    padding-right: 1rem
    padding-bottom: 4rem


  &__button
    &-click
      @include button-transparent
