.block-scroll(:style="{ height: content.length * 100 + 'vh' }" ref='component')
  .block-scroll__waypoint(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }")
  .block-scroll__scroll(:style="{ transform: 'translate3d(0, ' + offset + 'px, 0)' }")
    .block-scroll__content(v-for='(section, i) in content', :key="'section-' + (i + 1)")
      .block-scroll__container
        .block-scroll__col-1(:class="[ { 'block-scroll__col-1--active': active === i }, 'block-scroll__col-1--' + i ]")
          h3.block-scroll__title
            .block-scroll__title-text(v-html='section.title')
            .block-scroll__title-line(:style="{ transition: 'translateY(' + active * 2 + 'rem)' }")
          .block-scroll__body(v-html='section.body')
          router-link.block-scroll__button(:to='section.button.href')
            .block-scroll__button-click(v-html='section.button.label')
        .block-scroll__col-2
          .block-scroll__image(:style="{ backgroundImage: 'url(' + section.image + ')' }", role='img', aria-label='Doctors and their Children')
