.custom-home-welcome
  .custom-home-welcome__container
    .custom-home-welcome__col
      h2.custom-home-welcome__title(v-html='content.title')
      .custom-home-welcome__body(v-html='content.body')
