.custom-get-forms
  position: relative
  padding: 4rem 0

  &__waypoint
    @include phone-lg
      top: 10%
    position: absolute
    top: 50%
    left: 0
    width: 100%
    height: 2px

  &__title
    transition: opacity .35s ease-in
    opacity: 0
    padding-bottom: 4rem
    text-align: center
    text-transform: uppercase
    color: $cobalt-blue

    .custom-get-forms--showing &
      opacity: 1

  &__container
    @extend .container

  &__col
    @extend .col-6
    @include tablet-lg
      width: 50%
    @include phone-lg
      width: 100%
    position: relative
    transform: translateY(2rem)
    transition: transform .35s ease-in, opacity .35s ease-in
    opacity: 0
    text-align: center

    .custom-get-forms--showing &
      transform: none
      opacity: 1

    &:hover
      .custom-get-forms__overlay
        opacity: 0

      .custom-get-forms__overlay-blue
        opacity: 1

      .custom-get-forms__label
        padding: 28rem 0 4rem

      .custom-get-forms__image
        filter: grayscale(1)

  &__image
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    transition: filter .25s ease-in
    z-index: -1
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: calc(100% - #{$gutter})
    height: 100%
    filter: none

  &__overlay,
  &__overlay-blue
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    transition: opacity .25s ease-in
    opacity: 1
    z-index: -1
    background: linear-gradient(to bottom, transparent, $black-34)
    width: calc(100% - #{$gutter})
    height: 100%

  &__overlay-blue
    opacity: 0
    background: linear-gradient(to bottom, transparent, $cobalt-blue-50)

  &__label
    transition: padding .25s ease-in
    padding: 30rem 0 2rem
    text-transform: uppercase
    color: $white
