// --------------------------------------------------------
// units
// --------------------------------------------------------
@import './sass/units/units'

// --------------------------------------------------------
// vendors
// --------------------------------------------------------
@import './sass/vendors/*.sass'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------
@import './sass/utilities/*'
@import './sass/utilities/**/*'

// --------------------------------------------------------
// pages
// --------------------------------------------------------
// @import './pages/**/*.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------
@import './base/*.sass'
// @import './components/**/*.sass'
@import './components/**/**/*.sass'

.block-scroll__col-2 .block-scroll__image.block-scroll__image--active.actibve_hover
  display: none

.block-scroll__col-2:hover .block-scroll__image.block-scroll__image--active.actibve_hover
  display: block

.block-scroll__col-2:hover  .block-scroll__image.block-scroll__image--active
  display:none
  

.block-scroll__col-2:hover
  cursor: pointer

.block-scroll__container.container-598
  pointer-events: initial
  
.block-scroll-tablet__col-1--2 .block-scroll-tablet__title
  top:  6rem

.block-scroll-tablet__col-1--3 .block-scroll-tablet__title
  top:  8rem 

#team .block-scroll-tablet__body
  padding-top: 12rem
  
.hero-home__video
  position: absolute
  z-index: -1

.home_button_image 
  position: absolute
  width: 75px
  left: 15%
  z-index: 1

.home_button_image3
  position: absolute
  width: 70px
  left: 50px
  top: -6px

.hero__background-image--active
  z-index: 3

.hero__background-image.hero__background-image--active.hero__background-image--trans:nth-child(1)
  display: none

.hero__background-image.hero__background-image--active:nth-child(1)
  display: none

.lastdiv
  background: #000010
  color: #fff
  padding: 7px 0
  font-size: 16px
  text-align: center
  cursor: pointer

.lastdiv a
  font-size: 15px  

.hero--access .hero__background-image
  display: none  

@media screen and (max-width:1200px)
  .home_button_image
    display: none

  .home_button_image3
    display: none

@media screen and (max-width:767px)
  #top.hero--access
    height: auto
    min-height: 650px  

@media screen and (max-width:480px)
  .hero-home__video
    height: 50vh  

