.custom-about-tour(ref='tour')
  .custom-about-tour__container
    .custom-about-tour__background(:style="{ backgroundImage: 'url(' + content.background + ')', transform: 'translate(-50%, -50%) scale(' + this.percentage + ')' }")
    h2.custom-about-tour__title(v-html='content.title')
