#team.block-scroll.block-scroll--active.block-scroll--transformed(style='height: 350vh;')
  .block-scroll__waypoint.block-scroll__waypoint--in
  .block-scroll__waypoint
  .block-scroll__scroll(style='transform: translate3d(-50%, -50%, 0px);')


    .block-scroll__content--active(v-if='props.acf.team')
      .block-scroll__container.container-598(v-bind:to='Team' v-for='(Team, index) in props.acf.team')
        .block-scroll__col-1.block-scroll__col-1--1.block-scroll__col-1--2.block-scroll__col-1--active.block-scroll__col-1--active.block-scroll__col-1--0
          h3.block-scroll__title
            .block-scroll__title-text(style='transition-delay: 0s;') Janet (RDA)
            .block-scroll__title-line
          .block-scroll__body
            | Hi! I am Janet. I have been with Elate Orthodontics since the very first day. I have been an orthodontic assistant since 2015. I am passionate about my patients' orthodontic treatment and their wellbeing. I love spending time with my family and my goldendoodle Sassy. I am here to help if you need me.
        .block-scroll__col-2
          .block-scroll__image.block-scroll__image--active(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Janet-Main.jpg");')
          .block-scroll__image.block-scroll__image--active.actibve_hover(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Janet-Hover.jpg");')


    .block-scroll__content--active
      .block-scroll__container.container-598
        .block-scroll__col-1.block-scroll__col-1--1.block-scroll__col-1--2.block-scroll__col-1--active.block-scroll__col-1--active.block-scroll__col-1--0
          h3.block-scroll__title
            .block-scroll__title-text(style='transition-delay: 0s;') Simone (RDA)
            .block-scroll__title-line
          .block-scroll__body
            | Hello! I am Simone. I have been in orthodontics for 14+ years. What I like most about what I do is seeing patients' smiles transform and their confidence grow. In my spare time, I enjoy spending time with my family and playing with my black Labrador Cinder.
        .block-scroll__col-2
          .block-scroll__image.block-scroll__image--active(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Simone-Main.jpg");')
          .block-scroll__image.block-scroll__image--active.actibve_hover(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Simone-Hover.jpg");')


    .block-scroll__content--active
      .block-scroll__container.container-598
        .block-scroll__col-1.block-scroll__col-1--1.block-scroll__col-1--2.block-scroll__col-1--active.block-scroll__col-1--active.block-scroll__col-1--0
          h3.block-scroll__title
            .block-scroll__title-text(style='transition-delay: 0s;') Jose (RDA)
            .block-scroll__title-line
          .block-scroll__body
            | Hello! My name is Jose. I love working with my team and interacting with my patients. In my spare time you can find me jogging and spending time with my daughter Zoe.
        .block-scroll__col-2
          .block-scroll__image.block-scroll__image--active(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Jose-Main.jpg");')
          .block-scroll__image.block-scroll__image--active.actibve_hover(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Jose-Hover.jpg");')
          
    .block-scroll__content--active
      .block-scroll__container.container-598
        .block-scroll__col-1.block-scroll__col-1--1.block-scroll__col-1--2.block-scroll__col-1--active.block-scroll__col-1--active.block-scroll__col-1--0
          h3.block-scroll__title
            .block-scroll__title-text(style='transition-delay: 0s;') Cece
            .block-scroll__title-line
          .block-scroll__body
            | Hi there! My name is CeCe. I started here at Elate Orthodontics in 2020. You can find me working the front office greeting our patients. What I enjoy most about working at Elate is meeting all of the new faces and smiles. When I am not at work, I am a full time student at the University of North Texas. I enjoy bouldering, playing the guitar, and photography.
        .block-scroll__col-2
          .block-scroll__image.block-scroll__image--active(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Cece-Main.jpg");')
          .block-scroll__image.block-scroll__image--active.actibve_hover(role='img' aria-label='Doctors and their Children' style='background-image: url("https://elateorthodontics.com/wp-content/uploads/2021/03/Cece-Hover.jpg");')            

                
