div[class^="tooltip-"]
  @media(max-width: 450px)
    display: none !important

.pages-get-started
  .block-text-image__body
    position: relative
    top: 0

    @media(max-width: 450px)
      position: absolute
      top: 6rem
