#app
  BaseBaseAccess
  Hero#top
  Loader
  router-view
  Footer
  .lastdiv 
    span#accessibilityWidget Click for Accessibility | 
    router-link.footer__privacy(to='/privacy-policy') Privacy Policy
  
